<div class="center" *ngIf="selectedTracks && !started && !finish">
    <button class="btn-start" (click)="init()">Start tournament</button>
</div>

<h2 *ngIf="!selectedTracks && !started">Please, select and submit tracks in <a routerLink="/settings">SETTINGS</a></h2>

<div class="table" *ngIf="drivers.length > 0 && started && !finish">
    <ng-container *ngFor="let stage of selectedTracks; index as i">
        <ng-container *ngIf="i===currentStage || displayAllStages">
            <h1>SS {{ i + 1}} - {{stage.stage }} ({{stage.record}})</h1>
            <table >
                <tr>
                    <th>Place</th>
                    <th>Name</th> 
                    <th>Time</th>
                    <!-- <th>Timesec</th> -->
                </tr>
                <tr [ngStyle]="{'color': driver.stages[i].crash ? 'red' : 'inherit'}" *ngFor="let driver of drivers; let place = index">
                    <th>{{ place+1 }}</th>
                    <td>{{ driver.name }}</td>
                    <td>{{ driver.stages[i].timeString }}</td>
                </tr>
            </table>
        </ng-container>
    </ng-container>
    <div class="center" *ngIf="driversOut.length > 0">
        <h2>Out</h2>
        <div style="font-size: small;">
            <table *ngFor="let driver of driversOut">
                <tr>{{ driver.name }}</tr>
            </table>
        </div>
        <hr>
    </div>

    <form [formGroup]="settingsForm" (ngSubmit)="submitResults()">
        <table>
            <tr formArrayName="selectedPlayers" *ngFor="let player of settingsForm.get('selectedPlayers').controls; let i= index">
                <ng-container [formGroupName]="i">
                    <td>{{player.value.name}}</td>
                    <td><input class="player-time-input" formControlName="currentStageTime" name="currentStageTime" type="text"></td>
                </ng-container>
            </tr> 
        </table>
        <p class="validator center" *ngIf="!timesValidator">Provide times in mm:ss.fff format</p>
        <div class="center">
            <button class="btn-submit" type="submit">Submit</button>
        </div>
    </form>
</div>

<ng-container *ngIf="finish">
    THE END
    <!-- <button (click)="displayAllStages = true">Display all stages</button> -->
    <h2>Press F5 to play again</h2>
</ng-container>


