<ng-template #message>
    <h2>
        Please first submit your result in <a routerLink="/stage">STAGE</a>
    </h2>
</ng-template>

<div class="table" *ngIf="started; else message">
    <div class="center">
        <h1>General classification </h1>
        <h2>after {{currentStage}} stage[s] - {{totalDistance}}km</h2>
    </div>
    <table >
        <tr>
            <th>Place</th>
            <th>Name</th>
            <th>Time</th>
            <th>Gap</th>
            <th *ngIf="finished">PTS</th>
        </tr>
        <tr [ngClass]="{'player': driver.player}" *ngFor="let driver of drivers; let i = index">
            <th>{{ i+1 }}</th>
            <td>{{ driver.name }}</td>
            <td>{{ driver.totalTimeString }}</td>
            <td>{{ driver.gap }}</td>
            <th *ngIf="finished">{{ points.length > i ? points[i] : 0 }}</th>
        </tr>
    </table>

    <div class="center" *ngIf="driversOut.length > 0">
        <h2>Out</h2>
        <div style="font-size: small;">
            <table *ngFor="let driver of driversOut">
                <tr>{{ driver.name }}</tr>
            </table>
        </div>
    </div>
    

    <div class="center" *ngIf="finished">
        <hr>

        <h3>Estimated level of players</h3>
        <ul class="results">
            <li *ngFor="let player of players">{{ player.name }} - {{player.sugDifficulty}}%</li>
        </ul>
        
        <hr>
        <h2>Finish, press F5 to play again</h2>
    </div>
</div>
