<div class="start" *ngIf="selectedTracks, else submitInput">
    <button (click)="started = true">Start tournament</button>
</div>

<ng-template #submitInput>
    <h2>Please, select and submit tracks in settings tab</h2>
</ng-template>

<div class="table" *ngIf="started">
    <h1>Stage X</h1>
    <table >
        <tr>
          <th>Name</th>
          <th>Time</th>
          <th>Gap</th>
          <th>Total</th>
        </tr>
        <tr *ngFor="let driver of drivers">
            <td>{{ driver.name }}</td>
            <td>Time</td>
            <td>Gap</td>
        </tr>
    </table>
</div>