<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RBRBotChampionship</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  </head>
  <body>
    <nav>
      <ul>
        <li routerLink="/settings" routerLinkActive="active">Settings</li>
        <li routerLink="/general" routerLinkActive="active">General</li>
        <li routerLink="/stage" routerLinkActive="active">Stage</li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </body>
</html>