ul {
    list-style: none;
    display: flex; 
    margin: 0; 
    padding: 0; 
    background-color: red;
    li {
        text-align: center;
        border-right: 1px solid black;
        padding: 1em; 
        flex: 1; 
        color: white;
        font-size: 2em;
        &:last-child {
            border-right: none;
        }
        &:hover {
            background-color: rgba(197, 78, 74, 0.479);
        }
    }
}

::ng-deep {
    h1 {
        text-align: center;
    }
    table {
        margin: auto;
        font-size: 1.5em;
        td {
            padding: 0.1em 1em;
            border: 1px solid right;
        }
    
        tr.players-table {
            margin-top: 1em;
            color: yellow;
        }
    }
    .btn-submit, .btn-start {
        font-size: 1.2em;
        margin: 1em;
        padding: 0.5em 1em ;
        background-color: rgb(12, 158, 12);
        border: none;
        color: white;
        &:hover {
            background-color: rgba(12, 158, 12, 0.466);
        }
    }

    .btn-start {
        background-color: rgb(255, 20, 59);
        border: none;
        color: white;
        &:hover {
            background-color: rgba(255, 20, 59, 0.466);
        }
    }

    button:disabled,
    button[disabled]{
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        &:hover {
            border: 1px solid #999999;
            background-color: #cccccc;
            color: #666666;
        }
    }
    
    .center {
        text-align: center;
    }

    .validator {
        color: #ee9445;
        font-size: 1em;
        font-family: monospace;
    }

    a {
        color: rgba(255, 255, 24, 0.726);
        &:hover{
            color: rgba(255, 182, 24, 0.726);
        }
    }
    ul {
        list-style: none;
    }
}
.version {
    color: white;
    font-size: 0.5em;
    position: absolute;
    top:0;
    right:0.2em;
}

