<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="difficulty">
      <label for="difficulty">Difficulty</label>
      <select name="difficulty" id="difficulty" formControlName="difficulty">
        <option *ngFor="let diff of difficulty" [value]="diff">{{ diff }}</option>
      </select>
    </div>
  
    <div class="surface">
      <label for="surface">Surface</label>
      <select formControlName="surface" name="surface" id="surface">
        <option *ngFor="let surf of surface" [value]="surf">{{ surf }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="lenght">
      <label for="lenght">Lenght</label>
      <input 
        formControlName="lMin" 
        type="number" 
        name="lmin" 
        id="lenght-min" 
        min="1" 
        max="{{ settingsForm.controls.lMax.value }}" >
      <input 
        formControlName="lMax" 
        type="number" 
        name="lmax" 
        id="lenght-max" 
        min="{{ settingsForm.controls.lMin.value }}" 
        max="20">
    </div>
  </div>

  <div class="row">
    <div class="stages">
      <label for="stages">Number of stages</label>
      <select formControlName="stages" name="stages" id="stages">
        <option *ngFor="let st of stages" value="{{ st }}">{{ st }}</option>
      </select>
    </div>

    <button type="button" (click)="generateTracks()">Generate</button>
  </div>

  <div class="tracks" *ngIf = "tracks">
    <label for="tracks">Tracks</label>
    <select formControlName="{{ i }}" class="col" name="tracks" id="{{ i }}" *ngFor="let tr of tracks; let i= index">
      <option *ngFor="let trA of allTracks" [value]="trA.Stage">{{ trA.Stage }}</option>
    </select>
  </div>

    <button type="submit" >Submit</button>
</form>