<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
  <div class="wrapper">
    <label for="difficulty">Difficulty</label>
    <select name="difficulty" id="difficulty" formControlName="difficulty">
      <option *ngFor="let diff of difficulty" [value]="diff">{{ diff }}</option>
    </select>

    <label for="surface">Surface</label>
    <select formControlName="surface" name="surface" id="surface">
      <option *ngFor="let surf of surface" [value]="surf">{{ surf }}</option>
    </select>
          
    <label for="lenght">Track lenght [km]</label>
    <div></div>
    <label for="lmin">Min</label>
    <input 
      formControlName="lMin" 
      type="number" 
      name="lmin" 
      id="lenght-min" 
      min="1" 
      max="{{ settingsForm.controls.lMax.value }}">
    <label for="lmax">Max</label>
    <input 
      formControlName="lMax" 
      type="number" 
      name="lmax" 
      id="lenght-max" 
      min="{{ settingsForm.controls.lMin.value }}" 
      max="50">

    <label for="stages">Stages</label>
    <select formControlName="stages" name="stages" id="stages">
      <option *ngFor="let st of stages" [value]="st">{{ st }}</option>
    </select>
  </div>

  <div class="center generate">
    <button type="button" (click)="generateTracks()">Generate tracks</button>
  </div>

  <div class="tracks" class="center" formArrayName="selectedTracks" >
    <h3>Tracks</h3>
      <ng-container 
        *ngFor="let tr of settingsForm.get('selectedTracks').controls; let i= index" 
        [formGroupName]="i"> 
          <select 
            formControlName = "stage"
            name="tracks">
              <option *ngFor="let trA of allTracks">
                {{ trA.Stage }}
              </option>
          </select>
      </ng-container>
    
    
  </div>

  <div class="center">
    <button class="submit" type="submit" >Submit</button>
  </div>
</form>